* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Azeret Mono', monospace;
}

body {
    margin: 10px;
    background-color: rgb(48,48,48);
    color: white;
}

.app {
    display: flex;
    flex-direction: column;
}

.date {
    margin-bottom: 15px;
}

.main {
    display: flex;
    flex-direction: column;
    width: 250px;;
}

.uk, .ir, .au {
    width: 50px;
    margin-left: 25px;
}

.date-input {
    width: 117px;
    margin-top: 10px;
}

.current {
    margin-left: 10px;
}

.save-button {
    margin-top: 5px;
    margin-left: 67px;
    width: 50px;
}

.saved-data {
    margin-top: 25px;
}

.total {
    margin-top: 10px;
}
